@import './normalize.css';

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.container{
  display: flex;
  flex-direction: column;
  gap:5px;
  padding: 1rem;
  border-color: black;
  border: solid;
}
input:focus{
  outline: none;
}
